{% load static %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Diabetes Data Collection form for diabetes prediction</title>
    <link rel="stylesheet" href="{% static 'css/diabetes.css' %}" />
  </head>
  <body>
    <div class="container">  
		<form class="contact" action="" method="post">
            {% csrf_token %}

			<h3>Diabetes Data Collection Form</h3>
			
			<div class="col50 colleft">
				<div class="col50 colleft">
					<div class="wd50">
						<label name="pname">Patient name</label>
						<input placeholder="Patient name" type="text" required autofocus>
					</div>
				</div>
				<div class="col50 colright">
					<div class="wd50">
						<label name="pphone">Phone number</label>
						<input placeholder="Phone number" type="tel" required>
					</div>
				</div>
			</div>
			
			
			<div class="wd100"><hr></div>
			
			<div class="col50 colleft">
				<div class="wd50">
					<label name="history">Having history of diabetes paitent in family</label>
					<select>
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select> 
				</div>
				<div class="wd100">
					<label name="gender">Gender</label>
					<select>
						<option value="male">Male</option>
						<option value="female">Female</option>
					</select> 
				</div>
			</div>

			<div class="col50 colright">
				<div class="wd100">
					<label name="bp">Having blood pressure</label>
					<select>
						<option value="normal">Normal</option>
						<option value="low">Low</option>
						<option value="high">High</option>
					</select> 
				</div>
				<div class="wd100">
					<label name="smoke">Do you smoke?</label>
					<select>
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select> 
				</div>
			</div>
			
			<div class="wd100"><hr></div>
			<div class="col50 colleft">
				<div class="wd100">
					<label name="exe">Do you Excerice?</label>
					<select>
						<option value="no">No</option>
						<option value="yes">Regular</option>
					</select> 
				</div>
			</div>

			<div class="col50 colright">
				<div class="wd100">
					<label name="diet">Your Diet?</label>
					<select>
						<option value="poor">Poor</option>
						<option value="Healthy" >Healthy</option>
					</select> 
				</div>
			</div>
			
			<div class="wd100"><hr></div>
			
			<div class="col50 colleft">
				<div class="wd100">
					<label name="bmi">Body Mass Index(BMI)</label>
					<textarea placeholder="BMI = Weight (in kg)/(Weight)^2 (in meter)" required></textarea>
				</div>
                <div class="wd100">
					<label name="fbs">Glucose level of before eating(FBS(Fasting Blood Sugar level))</label>
					<textarea placeholder="FBS(Fasting Blood Sugar level)" required></textarea>
				</div>
			</div>

			<div class="col50 colright">
				<div class="wd100">
					<label name="hba">Value of HbA1c</label>
					<textarea placeholder="Insert text here ..." required></textarea>
				</div>
			</div>
			
			<div class="wd100">
				<button name="submit" type="submit" onclick="openPopup()" id="" data-submit="...Sending">Submit </button>
                <div class="popup" id="popup">
                    <img src="{% static 'images/result.png' %}">
                    <h2> Predication Result</h2>
                    <p> Your result is you are {{result}}.</p>
                    <button type="button" onclick="closePopup()">Done</button>
                </div>
				
			</div>
		</form>

	</div>
    <script src="{% static 'js/diabetes.js' %}"></script>

  </body>
</html>