{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>Doclab - register</title>
  <meta name="title" content="Doclab - register">
    

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&family=Rubik:wght@400;500;700&display=swap"
    rel="stylesheet">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="{% static 'css/register.css' %}">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">


  <!-- 
    - preload images
  -->
  <link rel="preload" as="image" href="{% static 'images/hero-banner.png' %}">
  <link rel="preload" as="image" href="{% static 'images/hero-bg.png' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>

</head>

<body>
    <div class="container">
        <header>Registration</header>
        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <span class="title">Personal Details</span>
                    <div class="fields">
                        <div class="input-field">
                            <label>Full Name</label>
                            <input type="text" placeholder="Enter your name" required>
                        </div>
                        <div class="input-field">
                            <label>Date of Birth</label>
                            <input type="date" placeholder="Enter Birth Date" required>
                        </div>
                        <div class="input-field">
                            <label>Email</label>
                            <input type="text" placeholder="Enter your Email" required>
                        </div>
                        <div class="input-field">
                            <label>Mobile Number</label>
                            <input type="number" placeholder="Enter your contact Number" required>
                        </div>
                        <div class="input-field">
                            <label>Gender</label>
                            <input type="text" placeholder="Enter your Gender" required>
                        </div>
                        <div class="input-field">
                            <label>Occupation</label>
                            <input type="text" placeholder="Enter your Occupation" required>
                        </div>
                    </div>
                </div>
  
                <div class="details ID">
                    <span class="title">ID Details</span>
                    <div class="fields">
                        <div class="input-field">
                            <label>ID Type</label>
                            <input type="text" placeholder="Enter type of ID" required>
                        </div>
                        <div class="input-field">
                            <label>Issuing Authority</label>
                            <input type="text" placeholder="Issuing Authority e.g. Income tax department" required>
                        </div>
                        <div class="input-field">
                            <label>ID Number</label>
                            <input type="text" placeholder="Enter your ID Number" required>
                        </div>
                        <div class="input-field">
                            <label>Issued Date</label>
                            <input type="date" placeholder="Enter issue date" required>
                        </div>
                        <div class="input-field">
                            <label>Issued State</label>
                            <input type="text" placeholder="Enter state" required>
                        </div>
                    </div>
                    <button class="nextBtn">
                        <span class="btnText">Next</span>
                        <i class="uil uil-navigator"></i>
                    </button>
                </div>
            </div>
  

                <div class="details address">
                    <span class="title">Address Details</span>
                    <div class="fields">
                        <div class="input-field">
                            <label>Address Type</label>
                            <input type="text" placeholder="e.g. permanent, Temporary, etc" required>
                        </div>
                        <div class="input-field">
                            <label>Address</label>
                            <input type="text" placeholder="Enter Address" required>
                        </div>
                        <div class="input-field">
                            <label>Nationality</label>
                            <input type="text" placeholder="Enter your Nationality" required>
                        </div>
                        <div class="input-field">
                            <label>State</label>
                            <input type="text" placeholder="Enter State" required>
                        </div>
                        <div class="input-field">
                            <label>District</label>
                            <input type="text" placeholder="Enter District" required>
                        </div>
                        <div class="input-field">
                            <label>Pincode</label>
                            <input type="number" placeholder="Enter Pincode" required>
                        </div>
                    </div>
                </div>
                <div class="details password">
                    <span class="title">Password</span>
                    <div class="fields">
                        <div class="input-field">
                            <label>Password</label>
                            <input type="password" placeholder="Password" required>
                        </div>
                        <div class="input-field">
                            <label>Confirm Password</label>
                            <input type="password" placeholder="Confirm Password" required>
                        </div>
                    </div>
                </div>
  
                <div class="buttons">
                    <button class="backBtn">
                        <i class="uil uil-navigator"></i>
                        <span class="btnText">Back</span>
                    </button>
                    <button class="nextBtn">
                        <span class="btnText">Verify Credential</span>
                        <i class="fa-solid fa-circle-check"></i>
                    </button>
                    <button class="submit" type="submit">
                        <span class="submit">Submit</span>
                        <i class="fa-solid fa-file-import"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
  
  <!-- Custom JavaScript link -->
  <script src="{% static 'js/register.js' %}"></script>

  <!-- Ionicon link -->
</body>


</html>